html, body {
    width: 100%;
    height: 100%;
}

main {
    display: flex;
}

ul {
    width: 80%;
    list-style-type: none;
}

#first {
    width: 40px;
    height: 40px;
    padding: 2px;
    margin: 1px;
    border: 1px solid #4a0099;
    border-radius: 50%;
    background-color: #6300cc;
    color: gold;
}

#second {
    border-radius: 1%;
    border: 2px solid black;
    background-color: #80d4ff;
}

a {
    text-decoration: none;
    color: gold;
}

select {
    margin: 5px;
    width: 150px;
    height: 20px;
    border-radius: 5%;
    border: 1px solid purple;
}

button:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#intro {
    text-align: center;
    width: 80%;
    height: 80%;
}

#warning {
    font-size: 100%;
}

#content {
    font-size: 17pt;
    width: 80%;
    height: 80%;
    border-left: 5px solid #4d4d4d;
    border-right: 5px solid #4d4d4d;
    display: flex;
    justify-content: space-around;
}

article {
    width: 95%;
}
